
{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %} "> {% endcomment %}
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                  {% if set_label == 1 %}
                    <a class="btn btn-success" href="{% url 'if:set-fitur-create' %} ">
                      <i class='mdi mdi-plus-circle-outline'></i> Tambah
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
              <div class="card">
                {% if set_label == 1 %}
                  <div class="card-header alert-warning" >
                    <h6> <u> Perhatian </u>: 
                    <ul>
                      <li> <h6> kolom fitur dengan tipe String (objects) akan otomatis di hapus (drop) dari Fitur(X) </h6> </li>
                    </ul>
                   
                    
                  </div>              
                {% endif %}
                <div class="card-body">
                  {% if set_label == 0 %}
                    <div class="text-center">
                      <a class="btn btn-danger"  href="{% url 'if:set-label-index' %}">
                        <i class="mdi mdi-lock-open-outline"></i>
                        <span class="menu-title">Silahkan Memilih Default Label (y) Terlebih Dahulu</span>
                      </a>
                    </div>
                  {% else %}
                      <div class="table-responsive">
                        <table id="coba" class="table">
                          <thead>
                            <tr>
                                <th width="5%" >No</th>
                                <th width="5%">Set Default</th>
                                <th>Dataset</th>
                                <th>Fitur</th>
                                <th width="15%">Bersihkan Fitur 
                                 <i title='Hapus fitur yang memiliki nilai null' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                                    
                                </th>
                                <th width="13%">Kelola</th>
                            </tr>
                          </thead>
                          <tbody>
                                
                                {% for setfitur in setfiturs %}
                                  <tr>
                                    <td class="text-center" >{{forloop.counter}} </td>
                                    <td>
                                      {% if setfitur.default_fitur == False %}
                                        <a id="set-default-fitur" class="btn btn-info use-dataset" href="{% url 'if:set-fitur-set-default' setfitur.id %}" title='set default {{setfitur}}'>
                                        Tidak
                                      {% else %}
                                        <a class="btn btn-secondary use-dataset" href="#" title='set default {{setfitur}}'>
                                        Ya
                                      {% endif %}
                                      {% comment %} {{setfitur.default_fitur}}                                   {% endcomment %}
                                          <i class="mdi mdi-lock-open-outline" style="zoom:1.5"></i>
                                        </a>
                                    </td>
                                    <td>{{setfitur.dataset}} </td>
                                    <td>{{setfitur.fitur|truncatechars:50}}</td>
                                    <td>
                                      {% if setfitur.delete_fitur_with_null_vall == 1  %}
                                        Ya
                                      {% else %}
                                        Tidak                                    
                                      {% endif %}
                                    </td>
                                    {% comment %} <td>
                                    <i title='reduksi fitur yang semua nilainya adalah null/nol untuk kelas tertentu' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                                    {{setfitur.reduksi_null_fitur}} 
                                    || 
                                    <i title='reduksi fitur dengan nilai maks kurang dari ' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                                    {{setfitur.reduksi_nilai_kurang_dari}} 
                                    </td> {% endcomment %}
                                    <td>
                                      {% if setfitur.use_if == 1 %}
                                        <a class="btn btn-primary" href="{% url 'if:set-fitur-detail' setfitur.id %}" title='detail {{setfitur}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                        <a class="btn btn-secondary" href="#" title='edit {{setfitur}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                        <a class="btn btn-secondary" href="#" title='hapus {{setfitur}}'><i class="mdi mdi-delete-forever"></i></a>
                                      {% else %}
                                        <a class="btn btn-primary" href="{% url 'if:set-fitur-detail' setfitur.id %}" title='detail {{setfitur}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                        <a class="btn btn-warning" href="{% url 'if:set-fitur-update' setfitur.id %}" title='edit {{setfitur}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                        <a id="delete-data" class="btn btn-danger" href="{% url 'if:set-fitur-delete' setfitur.id %}" title='hapus {{setfitur}}'><i class="mdi mdi-delete-forever"></i></a>
                                      {% endif %}
                                    </td>
                                  </tr>        
                                {% endfor %}
                          </tbody>
                        </table>
                      </div>
                  {% endif %}
                </div>
              </div>

    </div>
{% endblock content %}


{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'buku/js/script.js' %}"></script> {% endcomment %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#set-fitur").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

            // action add update

              // delete
              $('body').on('click', '#delete-data', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin menghapus ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Hapus'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              setTimeout(function () { location.reload();}, 2600);
                              swal({
                                  type: 'success',
                                  title: 'Success!',
                                  text: 'Data ' + '"'+ title +'"'+ ' berhasil dihapus!',
                                  timer: 2500

                              });
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                              });
                          }
                      });
                  }
                  });
              });

             // set default
              $('body').on('click', '#set-default-fitur', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin melakukan ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Submit'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              if (response == 'success') {
                                setTimeout(function () { location.reload();}, 2600);
                                swal({
                                    type: 'success',
                                    title: 'Success!',
                                    text: '"'+ title +'"'+ ' berhasil',
                                    timer: 2500
                                });
                              }else {
                                swal({
                                  type: response,
                                  title: 'Perhatian',
                                  text: '"--pastikan mengisi form dengan nilai dan format yang diminta--"'
                              });
                              }
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Perhatian',
                                  text: '"--pastikan mengisi form dengan nilai dan format yang diminta--"'
                              });
                          }
                      });
                  }
                  });
              });

        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
