
{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %} "> {% endcomment %}
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                  {% if count_fitur == 1 %}
                    <a class="btn btn-success" href="{% url 'if:hyperparameter-create' %} ">
                      <i class='mdi mdi-plus-circle-outline'></i> Tambah
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
              <div class="card">
                {% if count_fitur == 1 %}
                  
                {% endif %}
                <div class="card-body">
                  {% if count_fitur == 0 %}
                    <div class="text-center">
                      <a class="btn btn-danger"  href="{% url 'if:set-fitur-index' %}">
                        <i class="mdi mdi-lock-open-outline"></i>
                        <span class="menu-title">Silahkan Memilih Default Fitur(X) Terlebih Dahulu</span>
                      </a>
                    </div>
                  {% else %}                
                      <div class="table-responsive">
                        <table id="coba" class="table">
                          <thead>
                            <tr>
                                <th width="5%">No</th>
                                <th width="5%">Set default</th>
                                <th>Jumlah Pohon</th>
                                <th>Jumlah Sample</th>
                                <th>Kontaminasi</th>
                                <th width="13%">Kelola</th>
                            </tr>
                          </thead>
                          <tbody>
                                
                                {% for hyperparameter in hyperparameters %}
                                  <tr>
                                    <td>{{forloop.counter}} </td>
                                    <td>
                                      {% if hyperparameter.default_hyperparameter == False %}
                                        <a id="set-default-fitur" class="btn btn-info use-dataset" href="{% url 'if:hyperparameter-set-default' hyperparameter.id %}" title='set default {{hyperparameter}}'>
                                        Tidak
                                      {% else %}
                                        <a class="btn btn-secondary use-dataset" href="#" title='set default {{hyperparameter}}'>
                                        Ya
                                      {% endif %}
                                          <i class="mdi mdi-lock-open-outline" style="zoom:1.5"></i>
                                        </a>
                                    </td>
                                    <td>{{hyperparameter.n_tree}}</td>
                                    <td>{{hyperparameter.sample}}</td>
                                    <td>{{hyperparameter.kontaminasi}}</td>
                                    <td>
                                      {% if hyperparameter.use_if == 1 %}
                                        <a class="btn btn-secondary" href="#" title='edit {{hyperparameter}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                        <a class="btn btn-secondary" href="#" title='hapus {{hyperparameter}}'><i class="mdi mdi-delete-forever"></i></a>
                                      {% else %}
                                        <a class="btn btn-warning" href="{% url 'if:hyperparameter-update' hyperparameter.id %}" title='edit {{hyperparameter}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                        <a id="delete-data" class="btn btn-danger" href="{% url 'if:hyperparameter-delete' hyperparameter.id %}" title='hapus {{hyperparameter}}'><i class="mdi mdi-delete-forever"></i></a>
                                      {% endif %}
                                    </td>
                                  </tr>        
                                {% endfor %}
                          </tbody>
                        </table>
                      </div>
                  {% endif %}
                </div>
              </div>

    </div>
{% endblock content %}


{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'buku/js/script.js' %}"></script> {% endcomment %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#hiperparameter").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

            // action add update

              // delete
              $('body').on('click', '#delete-data', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin menghapus ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Hapus'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              setTimeout(function () { location.reload();}, 2600);
                              swal({
                                  type: 'success',
                                  title: 'Success!',
                                  text: 'Data ' + '"'+ title +'"'+ ' berhasil dihapus!',
                                  timer: 2500

                              });
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                              });
                          }
                      });
                  }
                  });
              });
             // set default
              $('body').on('click', '#set-default-fitur', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin melakukan ' + '"'+ title+'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Submit'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              if (response == 'success') {
                                setTimeout(function () { location.reload();}, 2600);
                                swal({
                                    type: 'success',
                                    title: 'Success!',
                                    text: '"'+ title +'"'+ ' berhasil',
                                    timer: 2500
                                });
                              }else if (response == 'warning') {
                                swal({
                                  type: response,
                                  title: 'Perhatian',
                                  text: '"--nilai maksimal fitur tidak boleh melebihi nilai fitur setelah proses pengolahan data--"'
                              });
                              }else {
                                swal({
                                  type: response,
                                  title: 'Perhatian',
                                  text: '"--pastikan mengisi form dengan nilai dan format yang diminta--"'
                              });
                              }
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Perhatian',
                                  text: '"--pastikan mengisi form dengan nilai dan format yang diminta--"'
                              });
                          }
                      });
                  }
                  });
              });

        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
