{% load static %}

<div class="modal modal-ku fade" id="modal_rf_result" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" >
                <h5 class="modal-title" id="title_rf_result">Form Input</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
             <div class="modal-body">

                <div  id="modal_body_rf_result" class='table-responsive' align='center'>
                    <table class='table table-striped text-center'>
                        <tr>
                            <th>aa</th>
                            <th>bb</th>
                            <th>cc</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                    </table>
                </div>

                <br><br>
                <div> 
                    <h3 align = 'center'> Confusion Matrik</h3>
                    {% comment %} <img id="gambar_cm" src="{% static 'random_forest/cm/cm.png' %}" alt="not_found" style="width:100%;height:100%;margin-top:-10px;z-index:-999";/> {% endcomment %}
                    <img id="gambar_cm2" alt="not_found" style="width:100%;height:100%;margin-top:-10px;z-index:-999";/>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

		{% comment %} <div class="modal fade " id="modal_rf_result">
			<div class="modal-dialog">
				<div class="modal-content" style="margin-top:100px;">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="delete_message" style="text-align:center;"></h4>
					</div>    
					<div class="modal-footer" style="margin:0px; border-top:0px; text-align:center;">
						<a href="#" class="btn btn-danger" id="delete_link">Delete</a>
						<button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div> {% endcomment %}