
{% extends 'templates.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    <link rel="stylesheet" href="{% static 'random_forest/css/style.css' %} ">
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                  {% if set_hyperparameter == 1 %}
                    <a class="btn btn-success" href="{% url 'rf:random-forest-create' %} ">
                      <i class='mdi mdi-mdi-run'></i> Lakukan Perhitungan RF
                    </a>
                  {% endif %}
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
        <div class="card">
          {% if set_hyperparameter == 1 %}
            <div class="card-header alert-warning" >
              <h6> <u> Info Evaluasi Model Klasifikasi </u>: <br> menggunakan k-fold cross validation dengan parameter performa yang diukur adalah precision, recall dan f1-score </h6>
            </div>
          {% endif %}
          <div class="card-body">
            {% if set_hyperparameter == 0 %}
              <div class="text-center">
                <a class="btn btn-danger"  href="{% url 'rf:hyperparameter-RF-index' %}">
                  <i class="mdi mdi-lock-open-outline"></i>
                  <span class="menu-title">Silahkan Memilih Default Hyperparameter Random Forest Terlebih Dahulu</span>
                </a>
              </div>
            {% else %}
                <div class="table-responsive">
                  <table id="coba" class="table">
                    <thead>
                      <tr>
                          <th width="5%" >No</th>
                          <th width="5%" >Set Default</th>
                          <th width="5%" >Tanggal</th>
                          <th width="15%">Dataset || fitur(X) || label (y)</th>
                          <th width="3%">Hyperparameter</th>
                          <th width="3%">test data (%)</th>
                          <th>Result RF</th>
                          <th width="13%">Kelola</th>
                      </tr>
                    </thead>
                    <tbody>
                          
                          {% for randomforest in randomforests %}
                            <tr>
                              <td class="text-center" >{{forloop.counter}} </td>
                              <td>
                                {% if randomforest.default_model == False %}
                                    <a id="set-default-rf" class="btn btn-info use-dataset" href="{% url 'rf:random-forest-set-default' randomforest.id %}" title='set default model {{randomforest}}'>
                                  Tidak
                                {% else %}
                                    <a class="btn btn-secondary use-dataset" href="#" title='set default model {{randomforest}}'>
                                  Ya
                                {% endif %}
                                  {% comment %} {{dataset.default_dataset}}                                   {% endcomment %}
                                    <i class="mdi mdi-lock-open-outline" style="zoom:1.5"></i>
                                  </a>
                              </td>
                              <td>{{randomforest.tanggal_running}}</td>
                              <td>{{randomforest.dataset.nama}} 
                                || fitur
                                <i title='{{randomforest.setfitur}}' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                                || label
                                <i title='{{randomforest.setlabel}}' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                              </td>
                              <td class='text-center'>hyperparameter<i title='{{randomforest.hyperparameter}}' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                              </td>
                              <td>{{randomforest.test_prosentase}}</td>
                              <td>
                                  <a id="rf_result" href="{% url 'rf:random-forest-result' randomforest.id %}" class="btn btn-info modal-rf-result"  title='Lihat hasil evaluasi model  {{randomforest}}'><i class="mdi mdi-timetable text-white"></i></a>
                                  <a id="rf_FI"href="{% url 'rf:random-forest-fitur-importance' randomforest.id %}"  class="btn btn-info modal-rf-result"  title='Lihat hasil features importance {{randomforest}}'><i class="mdi mdi-server text-white"></i></a>
                                  <a id="rf_pohon" href="{% url 'rf:random-forest-pohon' randomforest.id 0 %}" class="btn btn-info"  title='Lihat hasil pohon RF {{randomforest}}'><i class="mdi mdi-sitemap text-white"></i></a>
                                  
                              </td>
                              <td>
                                  <a class="btn btn-primary" href="{% url 'rf:random-forest-detail' randomforest.id %}" title='detail {{randomforest}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                  <a class="btn btn-secondary" href="#" title='edit {{randomforest}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                  {% comment %} <a class="btn btn-warning" href="{% url 'rf:random-forest-update' randomforest.id %}" title='edit {{randomforest}}'><i class="mdi mdi-eyedropper text-white"></i></a> {% endcomment %}
                                  <a id="delete-data" class="btn btn-danger" href="{% url 'rf:random-forest-delete' randomforest.id %}" title='hapus {{randomforest}}'><i class="mdi mdi-delete-forever"></i></a>
                              </td>
                            </tr>        
                          {% endfor %}
                    </tbody>
                  </table>
                </div>
            {% endif %}
          </div>
        </div>

    </div>


{% endblock content %}

{% block modal %}
    {% include "random_forest/randomForest/index_modal.html" %}

{% endblock modal %}

{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'buku/js/script.js' %}"></script> {% endcomment %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#random-forest").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });
            $('.madal-rf').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

            // action add update
            // show
            $('body').on('click', '.modal-rf-result', function (event) {
                event.preventDefault();
                var me = $(this),
                    url = me.attr('href'),
                    title = me.attr('title');
                $('#modal_body_rf_result').find('table').remove();
                  $.ajax({
                      url: url,
                      type: "GET",
                      dataType: "JSON",
                      success: function(data) {
                        var result = data.split("////");
                        //console.log(result)
                        console.log(result[1])

                        $("#title_rf_result").text(title);
                        $("#modal_body_rf_result").append(result[0]);
                        $("#modal_body_rf_result table").attr('border','0');
                        //$("#gambar_cm").attr('src',result[1]);
                        $("#gambar_cm2").attr('src',result[1]);
//                        console.log($("#gambar_cm").attr('src'))


                        $('#modal_rf_result').modal('show');

                      },
                      error : function() {
                          alert("Nothing Data");
                      }
                  });  

            });

              // delete
              $('body').on('click', '#delete-data', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin menghapus ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Hapus'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              setTimeout(function () { location.reload();}, 2600);
                              swal({
                                  type: 'success',
                                  title: 'Success!',
                                  text: 'Data ' + '"'+ title +'"'+ ' berhasil dihapus!',
                                  timer: 2500

                              });
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                              });
                          }
                      });
                  }
                  });
              });

             //set default
              $('body').on('click', '#set-default-rf', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin melakukan ' + '"'+ title +'" sebagai model RF default ',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Submit'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              if (response == 'success') {
                                setTimeout(function () { location.reload();}, 2600);
                                swal({
                                    type: 'success',
                                    title: 'Success!',
                                    text: '"'+ title +'"'+ ' berhasil diatur sebagai dataset default!',
                                    timer: 2500
                                });
                              }else {
                                swal({
                                  type: response,
                                  title: 'Hanya Binary Kelas',
                                  text: '"--pastikan set nilai kolom label  &  nilai label kelas kanker dengan benar--"'
                              });
                              }
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Hanya Binary Kelas',
                                  text: '"--pastikan set nilai kolom label  &  nilai label kelas kanker dengan benar--"'
                              });
                          }
                      });
                  }
                  });
              });

        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
