
{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %} "> {% endcomment %}
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                  <a class="btn btn-success" href="{% url 'if:dataset-create' %} ">
                    <i class='mdi mdi-plus-circle-outline'></i> Tambah
                  </a>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
              <div class="card">
                <div class="card-header alert-warning" >
                  <h6> <u> Perhatian </u>: pastikan memilih separator sesuai dengan format file .csv </h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table id="coba" class="table">
                      <thead>
                        <tr>
                            <th width="5%">No</th>
                            <th width="10%">Set Default</th>
                            <th>Nama</th>
                            <th>Deskripsi</th>
                            <th width="7%">File</th>
                            <th width="13%">Kelola</th>
                        </tr>
                      </thead>
                      <tbody>
                            
                            {% for dataset in datasets %}
                              <tr>
                                <td class='text-center'>{{forloop.counter}} </td>
                                <td>
                                  {% if dataset.default_dataset == False %}
                                     <a id="set-default-dataset" class="btn btn-info use-dataset" href="{% url 'if:dataset-set-default' dataset.id %}" title='set default dataset {{dataset}}'>
                                    Tidak
                                  {% else %}
                                     <a class="btn btn-secondary use-dataset" href="#" title='set default dataset {{dataset}}'>
                                    Ya
                                  {% endif %}
                                    {% comment %} {{dataset.default_dataset}}                                   {% endcomment %}
                                      <i class="mdi mdi-lock-open-outline" style="zoom:1.5"></i>
                                    </a>
                                </td>
                                <td>{{dataset.nama}} </td>
                                <td>{{dataset.deskripsi|truncatechars:50}}</td>
                                <td>
                                    <a class="btn btn-success" href="{{dataset.file_dataset.url}}" target='__blank' title='download file {{dataset.nama}}'><i class="mdi mdi-folder-download text-white"></i></a>
                                </td>
                                <td>
                                  {% if dataset.set_label == True %}
                                    <a class="btn btn-primary" href="{% url 'if:dataset-detail' dataset.id %}" title='detail {{dataset.nama}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                    <a class="btn btn-secondary" href="#" title='edit {{dataset.nama}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                    <a class="btn btn-secondary" href="#" title='hapus {{dataset.nama}}'><i class="mdi mdi-delete-forever"></i></a>
                                  {% else %}
                                    <a class="btn btn-primary" href="{% url 'if:dataset-detail' dataset.id %}" title='detail {{dataset.nama}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                    <a class="btn btn-warning" href="{% url 'if:dataset-update' dataset.id %}" title='edit {{dataset.nama}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                    <a id="delete-data" class="btn btn-danger" href="{% url 'if:dataset-delete' dataset.id %}" title='hapus {{dataset.nama}}'><i class="mdi mdi-delete-forever"></i></a>
                                  {% endif %}

                                </td>
                              </tr>        
                            {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

    </div>
{% endblock content %}


{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'buku/js/script.js' %}"></script> {% endcomment %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#dataset").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

            // action add update

              // delete
              $('body').on('click', '#delete-data', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin menghapus ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Hapus',
                      cancelButtonText: 'Batal'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              setTimeout(function () { location.reload();}, 2600);
                              swal({
                                  type: 'success',
                                  title: 'Success!',
                                  text: 'Data ' + '"'+ title +'"'+ ' berhasil dihapus!',
                                  timer: 2500

                              });
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                              });
                          }
                      });
                  }
                  });
              });

              // set default
              $('body').on('click', '#set-default-dataset', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin melakukan ' + '"'+ title +'" sebagai dataset default ',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Submit'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              if (response == 'success') {
                                setTimeout(function () { location.reload();}, 2600);
                                swal({
                                    type: 'success',
                                    title: 'Success!',
                                    text: '"'+ title +'"'+ ' berhasil diatur sebagai dataset default!',
                                    timer: 2500
                                });
                              }else {
                                swal({
                                  type: response,
                                  title: 'Periksa kembali separator file .csv',
                                  text: '"--pastikan kembali dengan melihat menu detail--"'
                              });
                              }
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Periksa kembali separator file .csv',
                                  text: '"--pastikan kembali dengan melihat menu detail--"'
                              });
                          }
                      });
                  }
                  });
              });

        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
