{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    <link rel="stylesheet" href="{% static 'iforest/css/style.css' %} ">
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}
    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                  <a class="btn btn-secondary" href="{% url 'if:dataset-index' %} ">
                    <i class='mdi mdi-keyboard-backspace'></i> Semua {{page_role}} 
                  </a>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
    <br>
      {% if count_default_dataset == 0 %}
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <a class="btn btn-danger"  href="{% url 'if:set-label-index' %}">
                <i class="mdi mdi-lock-open-outline"></i>
                <span class="menu-title">Silahkan Memilih Default Label (y) Terlebih Dahulu</span>
              </a>
            </div>
          </div>
        </div>
        {% else %}
        {% comment %} <div class="text-center mb-4" >
          <a class="btn btn-info" href="{% url 'if:eda-plot' 'default'%}">
              View Plot &nbsp;
              <i class='mdi mdi-chart-areaspline' ></i> 
          </a>
          <a class="btn alert-secondary" href='#'>
              Eksplore Data &nbsp;
              <i class='mdi mdi-timetable' ></i> 
          </a>
          <a class="btn btn-info" href="{% url 'if:eda-pca'%}">
              View PCA &nbsp;
              <i class='mdi mdi-chart-scatterplot-hexbin' ></i> 
          </a>
        </div> {% endcomment %}
        <div class="card">
            <div class="card-header">
                <h2>{{dataset.nama}} </h2>
                <p><u>Separator</u> : {{dataset.separator}} </p>
                <p><u>Deskripsi</u> : {{dataset.deskripsi}} </p>
            </div>
            <div class="card-body">
                <p><u> <a href="{{dataset.file_dataset.url}}" target='__blank'>Unduh dataset</a></u> </p>
                <p>ukuran (baris,kolom) : {{df_shape}} </p>
                {% comment %} <p><a href="#dataframe-head">Dataframe Head</a></p>
                <p><a href="#dataframe-tail">Dataframe Tail</a></p> {% endcomment %}
                <p><a href="#dataframe-head">Dataframe Head</a></p>
                <p><a href="#dataframe-tail">Dataframe Tail</a></p>
                {% comment %} <p><a href="#dataframe-describe">Dataframe Describe</a></p> {% endcomment %}
                <p><a href="#null-value">Terdapat Nilai Null dalam {{df_null_count}} Kolom</a></p>
            </div>
        </div>
        {% comment %}  DF HEAD{% endcomment %}
        <div class="card" id="dataframe-head">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h3>Dataframe Head</h3>
                <div class="table-responsive">
                  {{df_head|safe}}
               </div>
            </div>
        </div>
        {% comment %}  DF tail{% endcomment %}
        <div class="card" id="dataframe-tail">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h3>Dataframe Tail</h3>
                <div class="table-responsive">
                  {{df_tail|safe}}
               </div>
            </div>
        </div>
        {% comment %}  DF DESCRIBE{% endcomment %}
        {% comment %} <div class="card" id="dataframe-describe">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h3>Dataframe Describe</h3>
                <div class="table-responsive">
                  {{df_describe|safe}}
               </div>
            </div>
        </div> {% endcomment %}
        {% comment %}  DF NULL{% endcomment %}
        <div class="card" id="null-value">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h3>Tabel frekuensi fitur yang mempunyai nilai NULL  </h3>
                <div class="table-responsive">
                  {{df_null|safe}}
               </div>
            </div>
        </div>
        {% comment %}  DF DESCRIBE{% endcomment %}
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                {% comment %} <iframe src="{% url 'if:dataset-detail-boxplot' dataset.pk%}" frameborder="0" height="500px" width="100%"></iframe> {% endcomment %}
            </div>
        </div>

      {% endif %}  
    </div>

{% endblock content %}

{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    <script src="{% static 'iforest/js/script.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/d3js/d3js.js' %}"></script>
	<script type="text/javascript" src="{% static 'vendor/mpld3/mpld3.js' %}"></script>
    <script>
        (function($) {
        'use strict';
            $(function() {
                $( "#eda" ).addClass('active');

                $('.dataframe-style').attr('border',0)
                $('.dataframe-style-2').attr('border',0)
                $('.dataframe-style').DataTable({
                  "aLengthMenu": [
                      [5, 10, 15, -1],
                      [5, 10, 15, "All"]
                  ],
                  "iDisplayLength": 10,
                  "language": {
                      search: "search : "
                  },
                  searching: true, paging: true, info: true
              });
                $('.dataframe-style-2').DataTable({
                  "aLengthMenu": [
                      [5, 10, 15, -1],
                      [5, 10, 15, "All"]
                  ],
                  "iDisplayLength": 10,
                  "language": {
                      search: "search : "
                  },
                  searching: true, paging: true, info: true
              });

            });
        })(jQuery);
    </script>
{% endblock app_scripts %}
