{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    <link rel="stylesheet" href="{% static 'iforest/css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'vendor/select-picker/bootstrap-select.min.css' %}">

{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}
    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                  <a class="btn btn-secondary" href="{% url 'if:dataset-index' %} ">
                    <i class='mdi mdi-keyboard-backspace'></i> All {{page_role}}
                  </a>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
    <br>
      {% if count_validate_label == 0 %}
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <a class="btn btn-danger"  href="{% url 'if:set-label-index' %}">
                <i class="mdi mdi-lock-open-outline"></i>
                <span class="menu-title">Silahkan Memilih Default Label (y) Terlebih Dahulu</span>
              </a>
            </div>
          </div>
        </div>
        {% else %}
        <div class="text-center mb-4" >
          <a class="btn alert-secondary" href="#">
              View Plot &nbsp;
              <i class='mdi mdi-chart-areaspline' ></i> 
          </a>
          <a class="btn btn-info" href="{% url 'if:eda-eksplore-data' %}">
              Eksplore Data &nbsp;
              <i class='mdi mdi-timetable' ></i> 
          </a>
          <a class="btn btn-info" href="{% url 'if:eda-pca'%}">
              View PCA &nbsp;
              <i class='mdi mdi-chart-scatterplot-hexbin' ></i> 
          </a>
        </div>
        <div class="card">
            <div class="card-header alert-secondary">
                <div class="text-center alert-warning">
                  <br>
                    <h6> <u> Perhatian </u>:  </h6>
                    <p>fitur dengan tipe String (objects) akan otomatis di hapus (drop) dari Fitur(X) <br>
                    dan tidak ada penanganan nilai null/NaN </p>
                  <br>  
                </div>
                <div class=" text-center ">
                <br>
                    <div class="form-group">
                      <label for="list_fitur">Silahkan memilih fitur terlebih dahulu :</label>
                      <select name="list_fitur" id="list_fitur" title='--pilih--' multiple class='selectpicker' data-max-options="6" data-live-search='true' data-width='100%'>
                        <option value="">--Maksimal 6 fitur--</option>
                      </select>                       
                    </div>
                    <a id="submit-plot" class="btn btn-success" href="{% url 'if:eda-plot' 'default' %}" title='{{dataset}}'>
                      Submit 
                    </a>
                </div>
            </div>
            <div class="card-body">
              <h3>Swarm-Box Plot</h3>
              {% comment %} <iframe src="{{url_plot}}" frameborder="0" height="500px" width="100%">{{url_plot}}</iframe> {% endcomment %}
              <iframe src="{% static 'iforest/plot/swarm-box-plot.png' %}" frameborder="0" height="500px" width="100%">
              
              </iframe>
                {% comment %} <img src="{% static 'iforest/plot/swarm-box-plot.png' %}" alt="not_found"/> {% endcomment %}

            </div>
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
              {% comment %} <h3>Kernel Density Plot</h3>  {% endcomment %}
                {% comment %} <div class="text-center">
                
                  {% for val in validate_kolom  %}
                    {% if val.validate == 1 %}
                      <img src="{% static 'iforest/plot/kde-plot-'%}{{val.index}}.png" alt="not_found"/><br><br>
                    {% else %}
                      <img src="#" alt="data fitur {{val.fitur}} tidak mendukung untuk kernel density plot"><br><br>
                    {% endif %}
                  {% endfor %}

                </div> {% endcomment %}
            </div>
        </div>
      {% endif %}

    </div>

{% endblock content %}

{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    <script src="{% static 'iforest/js/script.js' %}"></script>
    <script src="{% static 'vendor/select-picker/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/d3js/d3js.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/mpld3/mpld3.js' %}"></script>

    <script>
        (function($) {
        'use strict';
            $(function() {
                //$( "#dataset" ).addClass('active');
                $("#eda").addClass('active');
                $("#submit-plot").hide();

                $('#list_fitur').find('option').remove();
                {% for i in fiturs %}
                  $('#list_fitur').append('<option value="{{i}}">{{i}}</option>');
                {% endfor %}

                $('#list_fitur').change(function(){
                    var list_fitur = $('#list_fitur').val();
                    if (list_fitur == '') {
                      $("#submit-plot").hide();

                    }else{
                      $("#submit-plot").show();
                    }

                });
                
                $('body').on('click', '#submit-plot', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title');
                  var list_fitur = $('#list_fitur').val();
                  url = url.replace('default',list_fitur)

                  window.location.replace(url);
                });

            });
        })(jQuery);
    </script>
{% endblock app_scripts %}
