
{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    <link rel="stylesheet" href="{% static 'iforest/css/style.css' %} ">
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                    <a class="btn btn-success" href="{% url 'if:iforest-create' %} ">
                      <i class='mdi mdi-mdi-run'></i> Lakukan Perhitungan
                    </a>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
        <div class="card">
          {% if set_hyperparameter == 1 %}
            <div class="card-header alert-warning" >
              <h6> <u>  </h6>
            </div>
          {% endif %}
          <div class="card-body">
            {% if set_hyperparameter == 0 %}
              <div class="text-center">
                <a class="btn btn-danger"  href="{% url 'if:hyperparameter-index' %}">
                  <i class="mdi mdi-lock-open-outline"></i>
                  <span class="menu-title">Silahkan Memilih Default Hyperparameter Isolation Forest Terlebih Dahulu</span>
                </a>
              </div>
              {% else %}
                <div class="table-responsive">
                  <table id="coba" class="table">
                    <thead>
                      <tr>
                          <th width="3%" >No</th>
                          <th width="5%">Set Default</th>
                          <th width="5%" >Tanggal</th>
                          <th width="15%">Dataset || fitur(X) || label (y)</th>
                          <th width="3%">Hyperparameter</th>
                          <th width="5%">Train : Validasi</th>
                          <th width="5%">Rasio Anomaly</th>
                          <th width="5%">Hasil</th>
                          <th width="13%">Kelola</th>
                      </tr>
                    </thead>
                    <tbody>
                          
                          {% for iforest in iforests %}
                            <tr>
                              <td class="text-center" >{{forloop.counter}} </td>
                              <td>
                                {% if iforest.default == False %}
                                  <a id="set-default-fitur" class="btn btn-info use-dataset" href="{% url 'if:iforest-set-default' iforest.id %}" title='set default {{iforest}}'>
                                  Tidak
                                {% else %}
                                  <a class="btn btn-secondary use-dataset" href="#" title='set default {{iforest}}'>
                                  Ya
                                {% endif %}
                                    <i class="mdi mdi-lock-open-outline" style="zoom:1.5"></i>
                                  </a>
                              </td>
                              <td>{{iforest.tanggal_running}}</td>
                              <td>{{iforest.dataset.nama}}
                                || fitur
                                <i title='{{iforest.setfitur}}' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                                || label
                                <i title='{{iforest.setlabel}}' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                              </td>
                              <td class='text-center'>hyperparameter<i title='{{iforest.hyperparameter}}' class='mdi mdi-information-outline text-primary' style='zoom:1.5 !important'></i>
                              </td>
                              <td>({{iforest.setTrain}}
                                : {{iforest.setVal}})%
                              </td>
                              <td>{{iforest.setRasioAnomaly}}%
                              </td>
                              <td>
                                  <a id="if_result" href="{% url 'if:iforest-result' iforest.id %}" class="btn btn-info modal-if-result"  title='Lihat hasil evaluasi model  {{iforest}}'><i class="mdi mdi-timetable text-white"></i></a>
                              </td>
                              <td>
                                  <a class="btn btn-primary" href="{% url 'if:iforest-detail' iforest.id %}" title='detail {{iforest}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                  {% comment %}<a class="btn btn-secondary" href="#" title='edit {{iforest}}'><i class="mdi mdi-eyedropper text-white"></i></a>
                                  <a class="btn btn-warning" href="{% url 'rf:random-forest-update' randomforest.id %}" title='edit {{randomforest}}'><i class="mdi mdi-eyedropper text-white"></i></a> {% endcomment %}
                                  <a id="delete-data" class="btn btn-danger" href="{% url 'if:iforest-delete' iforest.id %}" title='hapus {{iforest}}'><i class="mdi mdi-delete-forever"></i></a>
                              </td>
                            </tr>        
                          {% endfor %}
                    </tbody>
                  </table>
                </div>
              {% endif %}
          </div>
        </div>
    </div>


{% endblock content %}

{% block modal %}
    {% include "ifor/iForest/index_modal.html" %}

{% endblock modal %}

{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'buku/js/script.js' %}"></script> {% endcomment %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#iforest").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, 1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });
            $('.modal-if').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, 1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

            // action add update
            // show
            $('body').on('click', '.modal-if-result', function (event) {
                event.preventDefault();
                var me = $(this),
                    url = me.attr('href'),
                    title = me.attr('title');
                $('#modal_body_if_result').find('table').remove();
                  $.ajax({
                      url: url,
                      type: "GET",
                      dataType: "JSON",
                      success: function(data) {
                        $("#title_if_result").text(title);
                        $("#modal_body_if_result").append(data);
                        $("#modal_body_if_result table").attr('border','0');
                        $('#modal_if_result').modal('show');
                        console.log(data)

                      },
                      error : function() {
                          alert("Nothing Data");
                      }
                  });  

            });

              // delete
              $('body').on('click', '#delete-data', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin menghapus ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Hapus'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              setTimeout(function () { location.reload();}, 2600);
                              swal({
                                  type: 'success',
                                  title: 'Success!',
                                  text: 'Data ' + '"'+ title +'"'+ ' berhasil dihapus!',
                                  timer: 2500

                              });
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Oops...',
                                  text: 'Something went wrong!'
                              });
                          }
                      });
                  }
                  });
              });

             $('body').on('click', '#set-default-fitur', function (event) {
                  event.preventDefault();
                  var me = $(this),
                      url = me.attr('href'),
                      title = me.attr('title'),
                      csrf_token = $("[name=csrfmiddlewaretoken]").val();
                  swal({
                      title: 'Apakah Anda Yakin ?',
                      text: 'ingin melakukan ' + '"'+ title +'"',
                      type: 'warning',
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      cancelButtonText: 'Batal',
                      confirmButtonText: 'Submit'
                  }).then((result) => {
                  if (result.value) {
                      $.ajax({
                          url: url,
                          type: "POST",
                          data: {
                              'csrfmiddlewaretoken': csrf_token
                          },
                          success: function (response) {
                              if (response == 'success') {
                                setTimeout(function () { location.reload();}, 2600);
                                swal({
                                    type: 'success',
                                    title: 'Success!',
                                    text: '"'+ title +'"'+ ' berhasil',
                                    timer: 2500
                                });
                              }else {
                                swal({
                                  type: response,
                                  title: 'Perhatian',
                                  text: '"--pastikan mengisi form dengan nilai dan format yang diminta--"'
                              });
                              }
                          },
                          error: function (xhr) {
                              swal({
                                  type: 'error',
                                  title: 'Perhatian',
                                  text: '"--pastikan mengisi form dengan nilai dan format yang diminta--"'
                              });
                          }
                      });
                  }
                  });
              });
        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
