
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  {% comment %} <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% endcomment %}
  <meta name="viewport" content="width=device-width, initial-scale=0.9">
  <meta name="description" content="Sistem Informasi Rekomendasi Biomarker">
  <meta name="author" content="EkoAbdulAziz">
  {% comment %} <meta name="csrf-token" content="{% csrf_token %}"> {% endcomment %}
  {% csrf_token %}
  
  <title>iForest App</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.png'%}" />


  <!-- plugins:css -->
    {% include "partials/ifor/_styles.html" %}

    {% block app_style %}
    {% endblock app_style %}
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/ifor/_navbar.html -->
    {% include "partials/ifor/_navbar.html" %}

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/ifor/_sidebar.html -->
    {% include "partials/ifor/_sidebar.html" %}

      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            {% block content_header %}
            {% endblock content_header %}

            {% block content %}
            {% endblock content %}
        </div>
        <!-- content-wrapper ends -->
        
        <!-- partial:partials/ifor/_footer.html -->
        {% include "partials/ifor/_footer.html" %}

        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  {% block modal %}
  {% endblock modal %}
<!-- plugins:js -->
    {% include "partials/ifor/_scripts.html" %}

    {% block app_scripts %}
    {% endblock app_scripts %}
  
</body>

</html>

