
{% extends 'templatesIF.html' %}
{% load static %}

{% comment %} CSS {% endcomment %}
{% block app_style %}
    {% comment %} <link rel="stylesheet" href="{% static 'iforest/css/style.css' %} "> {% endcomment %}
{% endblock app_style %}

{% comment %} CONTENT {% endcomment %}
{% block content_header %}
{% endblock content_header %}

{% block content %}

    <div class=" container">
    {% comment %} header {% endcomment %}
        <div class="row">
          <div class="col-md-12 grid-margin">
            <div class="d-flex justify-content-between flex-wrap">
              <div class="d-flex align-items-end flex-wrap">
                <div class="mr-3 mr-xl-5 ml-4">
                {% if count_default_dataset == 1  %}
                  {% if count_fiturImp == 0 %}
                  <a class="btn btn-success" href="{% url 'if:fiturImp-create' %} ">
                    <i class='mdi mdi-plus-circle-outline'></i> Tambah 
                  </a>
                  {% else %}
                  <a class="btn btn-secondary" href="# ">
                    <i class='mdi mdi-plus-circle-outline'></i> Tambah 
                  </a>
                  {% endif %}
                {% endif %}

                </div>
              </div>
              <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <div class="mr-3 mr-xl-5">
                    <h2>{{page_judul}}</h2>
                    <p class="mb-md-0">{{page_deskripsi}} </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <br>
{% comment %} content {% endcomment %}
              <div class="card">
                <div class="card-body">
                  {% if count_default_dataset == 0 %}
                    <div class="text-center">
                      <a class="btn btn-danger"  href="{% url 'if:dataset-index' %}">
                        <i class="mdi mdi-lock-open-outline"></i>
                        <span class="menu-title">Silahkan Memilih Default Dataset Terlebih Dahulu</span>
                      </a>
                    </div>
                  {% else %}
                    <div class="table-responsive">
                      <table id="coba" class="table">
                        <thead>
                          <tr>
                              <th width="5%">No</th>
                              <th>Dataset</th>
                              <th>Label</th>
                              <th width="13%">Kelola</th>
                          </tr>
                        </thead>
                        <tbody>
                              
                              {% for fiturImp in fiturImps %}
                                <tr>
                                  <td class="text-center">{{forloop.counter}} </td>
                                  <td>
                                      {{fiturImp.dataset}} 
                                  </td>
                                  <td>{{fiturImp.setlabel}}</td>
                                  <td>
                                      <a class="btn btn-primary" href="{% url 'if:fiturImp-detail' fiturImp.id %}" title='detail {{fiturImp}} '><i class="mdi mdi-book-open-page-variant"></i></a>
                                  </td>
                                </tr>        
                              {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  {% endif %}
                </div>
              </div>

    </div>
{% endblock content %}


{% comment %} JAVASCRIPTS {% endcomment %}
{% block app_scripts %}
    {% comment %} <script src="{% static 'buku/js/script.js' %}"></script> {% endcomment %}
    <script>
    (function($) {
        'use strict';
        $(function() {
            $("#fiturImp").addClass('active');
            
            $('#coba').DataTable({
                "aLengthMenu": [
                    [5, 10, 15, -1],
                    [5, 10, 15, "All"]
                ],
                "iDisplayLength": 10,
                "language": {
                    search: "search : "
                },
                searching: true, paging: true, info: true
            });

            {% if messages %}
              {% for message in messages %}
                swal({
                  type: 'success',
                  title: 'Berhasil!',
                  text: '{{message}}',
                  timer: 2500
                });
              {% endfor %}
            {% endif %}

        });
    })(jQuery);
    </script>
{% endblock app_scripts %}
